@font-face {
    font-family: 'poppinsmedium';
    src: url('../fonts/poppins/poppins-medium-webfont.eot');
    src: url('../fonts/poppins/poppins-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/poppins/poppins-medium-webfont.woff2') format('woff2'),
         url('../fonts/poppins/poppins-medium-webfont.woff') format('woff'),
         url('../fonts/poppins/poppins-medium-webfont.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}